# ==========================
# ESPHome / Home Assistant
# ==========================

# ESPHome build cache
.esphome/
.esphome/storage/
.esphome/storage/otgateway.yaml.json
.esphome/*
.cache/
build/
*.bin
*.elf
*.map

# Logs
logs/
*.log
*.txt

# Secrets (Wi-Fi, API passwords)
secrets.yaml

# ==========================
# VS Code / IDE
# ==========================

.vscode/
*.code-workspace

# Python cache
__pycache__/
*.pyc

# macOS / Windows cruft
.DS_Store
Thumbs.db
